.edit-button {
  padding: 7px;
  border: 1px solid #fff;
  transform: translate(0, -6px);
  transition: opacity .5s;
  cursor: pointer;
}

.edit-button:hover {
  opacity: .5;
}

@media (max-width: 425px) {
  .edit-button {
    width: 8px;
    padding: 5px;
  }
}
