.edit-button {
  width: 24px;
  padding: 7px;
  border: 1px solid #fff;
  transition: opacity .5s;
  cursor: pointer;
  box-sizing: border-box;
  align-self: flex-end;
}

.edit-button:hover {
  opacity: .6;
}

@media (max-width: 768px) {
  .edit-button {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    justify-self: flex-end;
    transform: translate(35px, 0);
  }
}

@media (max-width: 425px) {
  .edit-button {
    width: 18px;
    padding: 5px;
    transform: translate(28px, 0);
  }
}
