.edit-button {
  width: 24px;
  padding: 7px;
  right: -42px;
  bottom: 43%;
  border: 1px solid #fff;
  transition: opacity .5s;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
}

.edit-button:hover {
  opacity: .5;
}

@media (max-width: 425px) {
  .edit-button {
    width: 19px;
    padding: 5px;
    right: -30px;
    bottom: 45%;
  }
}
