.popup__form {
  position: relative;
  background-color:#fff;
  width: 100%;
  max-width: 430px;
  padding: 34px 36px 37px;
  border-radius: 10px;
  box-sizing: border-box;
}

@media (max-width: 468px) {
  .popup__form {
    padding: 25px 22px;
    width: calc(100% - 38px);
  }
}
