.profile__text {
  display: grid;
  grid-template-columns: minmax(189px, 294px) 24px;
  column-gap: 18px;
  row-gap: 16px;
}

@media (max-width: 768px) {
  .profile__text {
    grid-template-columns: 260px 0;
    column-gap: 0;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .profile__text {
    grid-template-columns: 189px 0;
    row-gap: 14px;
  }
}
