.profile__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 16px;
}

@media (max-width: 768px) {
  .profile__text {
    align-items: center;
  }
}

@media (max-width: 425px) {
  .profile__text {
    gap: 14px;
  }
}
