.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity .5s;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
}

@media (max-width: 768px) {
  .popup__close {
    top: -46px;
    right: 0;
  }
}

@media (max-width: 425px) {
  .popup__close {
    width: 20px;
    top: -36px;
  }
}
